<%- include('partials/header') %>

        <div class="container-fluid main-card">
            <section class="container-fluid px-0 sections">
                <div class="row align-items-center">
                  <div class="col-lg-6 order-2 order-lg-1">
                    <img src="https://images.unsplash.com/photo-1535743686920-55e4145369b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-fluid">
                  </div>
                  <div class="col-lg-6 order-1 order-lg-2">
                      <div class="row justify-content-center">
                        <div class="col-lg-8 text-center col-10 parts">
                          <h2>Full Body Workout</h2>
                          <i class="fas fa-dumbbell fa-7x d-none d-lg-block" style="margin: 5px;"></i>
                          <p class="lead mb-5 mb-lg-0">Whatever fitness goals you have in mind, it’s important to recognise that it takes both time and commitment to achieve them. That’s true of losing weight, becoming a better runner or building muscle.
                               The rewards you gain from that effort come in the form of increased strength and size all over your body. </p>
                          <a href="/workout/fullbodyworkout">More Info...</a>
                        </div>
                      </div>
                  </div>
                </div>
              </section>
              <section class="container-fluid px-0 sections">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-1">
                        <div class="row justify-content-center">
                          <div class="col-lg-8 text-center col-10 parts">
                            <h2>Daily Workout</h2>
                            <i class="fas fa-dumbbell fa-7x d-none d-lg-block" style="margin: 5px;"></i>
                            <p class="lead mb-5 mb-lg-0">"How much exercise is enough for what?"
                              Before you make a decision on how much you need, you should have a good idea of your exercise goal or goals: Are you exercising for physical fitness, weight control, or as a way of keeping your stress levels low? </p>
                            <a href="/workout/dailyworkout">More Info...</a>
                          </div>
                        </div>
                    </div>
                  <div class="col-lg-6 order-2">
                    <img src="https://images.unsplash.com/photo-1554284126-aa88f22d8b74?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-fluid">
                  </div>
                </div>
              </section>
    
            <ul class="grid">
                <li>
                    <i class="fas fa-envelope-open-text fa-4x"></i>
                    <h4>Quotes</h4>
                    <p>Looking for some motivation? Take a look at some quotations that will lift your spirits high. They'll show you secrets
                        that you're likely to miss otherwise.
                    </p>
                    <form action="/workout/quotes">
                        <button class="btn btn-lg btn-info btn-block" >Let's Go</button>
                    </form>
                </li>
                <li>
                    <i class="fas fa-video fa-4x"></i>
                    <h4>Video</h4>
                    <p>Want to experience the beauty of all of that annoying exercise?
                         Take a look at this video to better connect with your body.</p>
                    <!-- <form action="https://www.youtube.com/watch?v=Z63w5PefxTQ&feature=youtu.be">
                    <button class="btn btn-lg btn-info btn-block" >Let's Go</button>
                </form> -->
                <a href="https://www.youtube.com/watch?v=Z63w5PefxTQ&feature=youtu.be" class="btn btn-info btn-lg btn-block">Let's Go</a>
                </li>
            </ul>
        </div>

<%- include('partials/footer') %>

