body{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1{
    color: aliceblue;
    margin: 10px auto;
    
    font-family: 'Libre Baskerville', serif;
    font-size: 80px;
    font-weight: lighter;
}

.jumbotron{
    background-color: #303236;
}

p.lead{
    color: aliceblue;
}

div.item{
    font-size: x-large;
    width: 100%;
    height: 100px;
    margin: 5px;
    
}

div.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    padding: 6px;
    letter-spacing: .15rem;;
}

/* div.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */

/* #Fullbodyvideolink{
    margin-left: 10px;
} */
/* muscle specific */


.lom h1{
    color: aliceblue;
    margin: 10px auto;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 80px;
    font-weight: lighter;
}

.lom .jumbotron{
    background-color: #303236;
}

.lom .ui.card{
    background-color: grey;
}

.lom .row{
    margin: 10px auto;
    width: 33%;
    height: auto;
}

.lom .content{
    text-align: center;
}

.button{
    margin: auto;
}